@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,600&family=PT+Sans+Narrow&display=swap');

:root {
    --green: #042622;
    --offWhite: #fbf7f3;
    --orange: #eea676;
    --second-green: #036c5f;
}

.landing__container {
    width: 100%;
    min-height: 550px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: #036c5f;
    /* background-image: linear-gradient(180deg, #036c5f 70%, #fbf7f3 0); */
    position: relative;
}

.landing__header a {
    text-decoration: none;
    color: var(--orange);
}

.landing__header__container {
    width: 40%;
    height: auto;
    min-height: 450px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing__header {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.landing__header__main {
    text-align: left;
    font-size: 4.0rem;
    font-weight: 800;
    color: var(--orange);
}

.landing__header__discount {
    font-size: 1.2rem;
    color: var(--green);
}

.landing__button {
    width: 60%;
    cursor: pointer;
    transition: .3s;
}

.landing__image__container {
    width: 50%;
    /* height: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__image {
    height: 60%;
    width: 55%;
    top: 0%;
    z-index: 10;
}


@media screen and (max-width: 850px) {
    .landing__image__container{
       display: none;
    }
}

.bg-color{
    background-color: var(--offWhite);
}

.text-color{
    color: var(--orange);
}



#services{
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h1{
    text-align: center;
    color: #000000 !important;
    padding-bottom: 10px;
}

#services h1::after{
    content: '';
    background: #f5b921;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.services .col-md-3:hover {
    background-color: var(--green);
    color: var(--orange);
    cursor: pointer;
    transition: .7s;
}

.icon{
    font-size:40px ;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    /* border: 1px solid #fff; */
    /* border-radius: 50%; */
}


/* Membdership section */
.mem-ship{
    margin: 0 0 32px;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.5rem;
}

.mShip{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px 0 0;
  }

.mem-ship .mShip .top {
    float: left;
    width: 160px;
}

.mem-ship .mShip .mainFrMemDiv {
    width: calc(100% - 160px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mem-ship .mShip .mainFrMemDiv .first-member {
    float: left;
}

.mem-ship .mShip .mainFrMemDiv .first-member h1 {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: .25px;
    text-align: left;
    color: #0b1219;
    padding: 0;
    margin: 0;
}

.mem-ship .mShip .mainFrMemDiv .first-member ul {
    padding: 0;
    list-style: none;
    margin: 8px 0 0;
}

.mem-ship .mShip .mainFrMemDiv .first-member ul li {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: rgba(11,18,25,.75);
    margin: 4px 0 0;
}

.mem-ship .mShip .mainFrMemDiv .pricingInfo {
    display: flex;
}

.mem-ship .mShip .mainFrMemDiv .pricingInfo .start-msg {
    flex-grow: 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: var(--orange);
    margin-right: 45px;
    display: flex;
    align-items: center;
}

.mem-ship .mShip .mainFrMemDiv .pricingInfo .explore-plans {
    width: 169px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-image: linear-gradient(75deg,#fbc82f,#fff48a 100%),linear-gradient(to bottom,#0b1219,#0b1219);
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.43;
    letter-spacing: 1px;
    text-align: left;
    color: #0b1219;
}
/* Newsletter section */
.fd-bg-secondary{
    background-color: var(--orange);
}

.bg-btn{
    background-color: var(--green);
}

.fd-btn{
    background-color: var(--offWhite);
    text-decoration: none;
    color: var(--green);
    font-size: 1.2rem;
    text-align: center;
}