.btn-color{
  background-color: #eea676;
  color: #036c5f;
}

.bg-color{
  background-color: #eea676;
}

.btn-color:hover{
  border: none;
  background-color: #036c5f;
  color: #eea676;
}

.link-color{
  color: #036c5f;
  font-size: 16px;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
