
a
{
    text-decoration: none;
}
.product-card {
    max-width: 25rem;
    max-height: 40rem;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 10px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    /* overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px; */
    display: flex;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.addToCart{
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}


.addToCart, .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #fbb72c;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

/* New CSS */
   
  .productCard{
    position: relative;
    background-color: var(--color-grey-primary);
    margin: 1rem;
    flex: 1 0 25rem;
    max-width: 28rem;
    max-height: 40rem;
    transition: 0.2s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .productCard:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  }
  
  .productImage{
    /* margin-top: 2rem; */
    max-width: 100%;
    height: 18rem;
  }

  .singleProductImage{
    width: 25rem;
    /* margin-left: 5.5rem; */
  }
  
  .productCard__content {
    margin: 2rem;
  }
  
  .productName{
    font-size: 1.5rem;
  }

  .productPrice{
    font-size: 1.5rem;
    font-weight: bold;
  }
  

  /* Product Description */
.detail-box{
    /* max-width: 60%; */
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description h5 {
  text-align: left;
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h2 {
  text-align: left;
  font-weight: 300;
  font-size: 48px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  text-align: justify;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
  display: flex;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config p{
  text-align: left;
  color: #5E6977;
}
 
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  /* display: inline-block; */
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #FFFFFF;
  color: #64af3d;
}
